@model AzureAd_Auth.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<hr />

@if (!User.Identity.IsAuthenticated)
{
    <label>sign in with aad</label>
    <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in with azure ad</a>
}
else
{
    <label>you are signed in</label>
}